body{
   
    display:flex ;
    align-items: center;
    justify-content: center;
   margin: 0;
    overflow: hidden;
    background-image: url('../img/pexels-photo-1454794.jpeg');
        overflow:scroll;
        height:auto;
        width:auto;
      
}
.card-grid{
    display: grid;
    grid-template-columns: repeat(3, minmax(20rem, 1fr));
    gap: 3rem;
   
    
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    border-radius:18px ;
   
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
    text-align: center;
    transition: 0.5s ease;
}
.card-image img{

border-top-left-radius: 20px ;
border-top-right-radius: 15px ;
background-size: cover;
width: 10rem;
height: 10rem;

  
}

.card-stats{
grid-column: stats;
display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: 1fr;
border-bottom-left-radius: 15px;
background: rgb(255,7,110);
}
.card-text{
grid-area: text;

padding: 15px;
    text-align: center;
    
}

.card-text p{
    color: black;
    font-size: 20px;
    font-weight: 350;
    
}
.card-text h2{
    margin-top: 0;
    font-size: 28px;
}
.card-stats .stat{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    color: white;
}

.card-stats .border{
border-left:1px solid rgb(172,26,87) ;
border-right: 1px solid rgb(172,26,87) ;
}
.card-stats .value sup{
    font-size:12px;
}
.card:hover{
    
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
}


